@import url("https://fonts.googleapis.com/css?family=Ubuntu:500,700");

a {
    color: #004A95;
}

.fontsize2 {
    font-size: 1.2em;
}

.fontsize3 {
    font-size: 1.4em;
}

.lighttext {
    color: #ccc;
}

.bold {
    font-weight: bold;
}

.textleft {
    text-align: left !important;
}

.textright {
    text-align: right !important;
}

.textcenter, .textcenter td {
    text-align: center !important;
}

.clear {
    clear: both;
}

.whmcscontainer p {
    margin-bottom: 3px;
}

.whmcscontainer h1 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing:-2px;
    text-shadow: 0 0 2px #ccc;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.whmcscontainer h2 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing:-2px;
    text-shadow: 0 0 2px #ccc;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.whmcscontainer h3 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing:-1px;
    text-shadow: 0 0 2px #ccc;
    font-size: 18px;
    font-weight: 700;
}

.whmcscontainer h1 small, .whmcscontainer h2 small, .whmcscontainer h3 small {
    font-family: Arial;
    letter-spacing: -1px;
    text-shadow: 0 0 0;
    font-weight: 400;
}

.adminreturndiv {
    position:absolute;
    top:0 !important;
    right:0 !important;
    padding:5px 10px !important;
    background-color:#B4B4B4 !important;
    font-family:Tahoma !important;
    font-size:11px !important;
    color:#000 !important;
}
.adminreturndiv a {
    color: #fff !important;
    text-decoration: underline !important;
}

.whmcscontainer {
    max-width: 960px;
    margin: 0 auto;
}

.whmcscontainer .contentpadded {
    padding: 15px;
}

.whmcscontainer img {
    vertical-align: top;
    border: 0;
}

.navbar {
    position: relative;
}
.navbar .navbar-inner {
    height: 40px;
}

#whmcsheader {
    background-color: #1A4D80;
}

#whmcstxtlogo {
    padding: 20px 30px 20px 30px;
}
#whmcsimglogo {
    padding: 20px 30px 20px 30px;
    display: none;
}

#whmcstxtlogo a {
    font-size: 3.2em;
    color: #fff;
    text-decoration: none;
}

.menu-dropdown, .dropdown-menu {
    min-width: 180px;
}

.whmcscontainer .page-header {
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 10px 0 !important;
    padding: 0 0 5px 0;
}

.whmcscontainer .error ul {
    margin: 10px 0 10px 30px;
}

.whmcscontainer .error ul li {
    color: #fff;
}

ul.inputs-list li {
    list-style:none;
}

.footerdivider {
    border-top: 1px solid #e8e8e8;
}

.whmcscontainer .footer {
    margin: 0;
    padding: 15px;
    font-family: Tahoma;
    font-size: 11px;
    background-color: #efefef;
    color: #666;
}

.whmcscontainer .footer #languagefrm select {
    margin: 0 0 0 5px;
    padding: 4px;
    font-family: Tahoma;
    font-size: 11px;
    color: #666;
    height: 25px;
    line-height: 25px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer .footer #copyright {
    float: right;
    line-height: 24px;
}

/* *****************************************************

     Standalone Portal Look Styling
     Comment out this section for full width style

***************************************************** */

body {
    background-color: #d6d3b8;
}

.whmcscontainer {
    background-color: #fff;
}

#whmcsheader {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

#whmcstxtlogo {
    display: none;
}
#whmcsimglogo {
    padding: 20px 30px 20px 30px;
    display: block;
}

.navbar .navbar-inner {
    margin: 0 auto;
    padding: 0 20px;
    width: 960px;
    height: 40px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.footerdivider {
    margin: 0 auto;
    padding: 0 20px;
    width: 960px;
    height: 5px;
    background-color: #222;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.whmcscontainer .footer {
    background-color: #fff;
}

/* Containers */

.whmcscontainer .col4 {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

.whmcscontainer .col2half {
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}

.whmcscontainer .col30 {
    float: left;
    margin: 0;
    padding: 0;
    width: 30%;
}

.whmcscontainer .col40 {
    float: left;
    margin: 0;
    padding: 0;
    width: 40%;
}

.whmcscontainer .col60 {
    float: left;
    margin: 0;
    padding: 0;
    width: 60%;
}

.whmcscontainer .col70 {
    float: left;
    margin: 0;
    padding: 0;
    width: 70%;
}

.whmcscontainer .center80 {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.whmcscontainer .center95 {
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

.whmcscontainer .row {
    margin: 0;
    padding: 0 0 15px 0;
}

.whmcscontainer .row .multicol {
    float: left;
    margin: 0 50px 0 0;
}

.whmcscontainer .internalpadding {
    padding: 5px;
}

.whmcscontainer .halfwidthcontainer {
    width: 50%;
    margin: 0 auto;
}

.whmcscontainer .logincontainer {
    width: 280px;
    margin: 30px auto 100px auto;
}

.whmcscontainer .logincontainer label {
    font-weight: bold;
}

.whmcscontainer fieldset.onecol label {
    color: #404040;
    float: left;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    width: 225px;
}

.whmcscontainer fieldset.onecol .controls-list label {
    float: none;
    width: auto;
    line-height: 18px;
    padding: 0;
    text-align: left;
    white-space: normal;
}

.whmcscontainer fieldset.onecol div.controls {
    margin-left: 245px;
}

/* Forms */

form {
    margin: 0px;
}

select {
    width: auto;
}

.input-btn-large, input.btn-large {
    width: auto; /* Fix for Massive Width on Buttons from Bootstrap */
}

input.bigfield {
    width: 60%;
    height: 30px;
    font-size: 1.4em;
}

input.fullwidth, textarea.fullwidth {
    width: 95%;
}

.whmcscontainer label.full {
    float: none;
    text-align: left;
    width: auto;
}

.whmcscontainer .alert.alert-error a, .whmcscontainer .alert.alert-success a, .whmcscontainer .alert.alert-info a {
    color: #fff;
    text-decoration: underline;
}
.whmcscontainer .alert.alert-error a:hover, .whmcscontainer .alert.alert-success a:hover, .whmcscontainer .alert.alert-info a:hover {
    text-decoration: none;
}
.whmcscontainer .alert.alert-block.alert-warn a, .whmcscontainer .alert.alert-block.alert-warning a, .whmcscontainer .alert.alert-block.alert-error a, .whmcscontainer .alert.alert-block.alert-success a, .whmcscontainer .alert.alert-block.alert-info a {
    color: #000;
    text-decoration: underline;
}

.contentpadded .alert-message
{
    /* Gold color network status */
    background-color: #ffd700;
}

input[type="image"], input[type="checkbox"], input[type="radio"] {
    margin: 0 3px;
    height: 18px;
}

/* Table Styling */

.table-framed {
    border: 1px solid #DDD;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
table.table-striped tr td {
    vertical-align: middle;
}
table.table-striped tr.subtotal td {
    background-color:#FFFFDD;
    font-weight: bold;
}
table.table-striped tr.tax td {
    background-color:#EBF2FE;
    font-weight: bold;
}
table.table-striped tr.credit td {
    background-color:#FFE1E1;
    font-weight: bold;
}
table.table-striped tr.total td {
    background-color:#E7FFDA;
    font-weight: bold;
}
table.table-striped tr.recurring td {
    background-color:#FFE1E1;
    font-weight: bold;
}
table.table-centered tr th, table.table-centered tr td {
    text-align: center;
}

.whmcscontainer table .headerSortasc {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-image:url('../img/sortasc.png');
    background-repeat:no-repeat;
    background-position:95% 50%;
}

.whmcscontainer table .headerSortdesc {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-image:url('../img/sortdesc.png');
    background-repeat:no-repeat;
    background-position:95% 50%;
}

.whmcscontainer table th a {
    display: block;
    margin: -10px -10px -9px;
    padding: 10px 10px 9px;
}

.whmcscontainer .tableresults {
    padding: 5px;
}

.whmcscontainer .recordslimit {
    float: right;
    padding-right: 20px;
}
.whmcscontainer .recordslimit select {
    width: 60px;
}

/* Status Colors */

.label.pending {
    background-color: #F89406;
}
.label.active {
    background-color: #46A546;
}
.label.suspended {
    background-color: #0768B8;
}
.label.terminated {
    background-color: #C43C35;
}
.label.cancelled {
    background-color: #BFBFBF;
}
.label.expired {
    background-color: #888;
}
.label.fraud {
    background-color: #000;
}
.label.unpaid {
    background-color: #cc0000;
}
.label.paid {
    background-color: #779500;
}
.label.refunded {
    background-color: #224488;
}
.label.collections {
    background-color: #D3C403;
}

.whmcscontainer .invoicetotal {
    float: left;
    padding: 5px 10px 10px;
    font-size: 20px;
    color: #666;
}
.whmcscontainer .invoicetotal .textred {
    color: #cc0000;
}
.whmcscontainer .invoicetotal .textgreen {
    color: #468E46;
}

/* Twitter Feed */

#twitterfeed ul {
    list-style-type: none;
    margin: 15px 0 20px 0;
    padding: 0;
}
#twitterfeed li {
    background-image: url(../../../images/twittericon.png);
    background-repeat: no-repeat;
    background-position: 0;
    margin: 0 20px 10px 20px;
    padding-left: 25px;
}
#twitterfeed p {
    margin:15px;
    text-align:center;
}

/* Login */

.logincontainer .loginbtn {
    display: inline;
}
.logincontainer .rememberme {
    display: inline;
    padding: 0 0 0 20px;
}
.logincontainer .rememberme label {
    display: inline;
}

/* Announcements */

.whmcscontainer .tweetbutton {
    float: right;
    margin: 0 0 20px 30px;
}

/* Password Strength */

.whmcscontainer #pwstrengthbox {
    width: 200px;
    border: 1px solid #ccc;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    color: #9A9A9A;
    font-weight: normal;
}

.whmcscontainer #pwstrengthbox.strong {
    background-color: #33CC00;
    border: 1px solid #289F00;
    color: #fff;
    font-weight: bold;
}

.whmcscontainer #pwstrengthbox.moderate {
    background-color: #ff6600;
    border: 1px solid #C44F00;
    color: #fff;
    font-weight: bold;
}

.whmcscontainer #pwstrengthbox.weak {
    background-color: #cc0000;
    border: 1px solid #9D0000;
    color: #fff;
    font-weight: bold;
}

/* Services */

.whmcscontainer .searchbox {
    float: right;
    margin: 0 0 10px 20px;
    padding: 10px 10px 5px 10px;
    background-color: #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer .resultsbox {
    float: left;
    margin: 0;
    padding: 25px 0 8px 0;
}

.whmcscontainer .moduleoutput {
    margin: 20px 0 20px 0;
    padding: 10px;
    text-align: center;
    width: 90%;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer .usagecontainer {
    border: 1px solid #ccc;
    height: 20px;
    width: 80%;
}

.whmcscontainer .usagecontainer .used {
    background-color: #99CCFF;
    height: 20px;
}

/* Domain Addons */

.whmcscontainer .domaddonimg {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
    text-align: center;
}

/* Domain Checker */

.whmcscontainer .captchainput {
    margin: 10px auto 5px auto;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px dashed #ccc;
    width: 425px;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.whmcscontainer .captchainput div {
    margin: 0 auto;
}

.whmcscontainer .multitldbtn {
    position:relative;
    top:5px;
    right:0px;
    height:0;
}
.whmcscontainer .multitldbtn input {
    padding: 4px 7px;
    font-size: 11px;
}

.whmcscontainer .domcheckertldselect {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.whmcscontainer .domcheckererror {
    color: #cc0000;
}

.whmcscontainer .domcheckersuccess {
    color: #009933;
}

.whmcscontainer textarea.bulksearch {
    width: 60%;
}

/* Affiliates */

.whmcscontainer .affiliatestatcontainer {
    margin: 15px auto;
    padding: 0;
    width: 660px;
}

.whmcscontainer .affiliatestatblock {
    float: left;
    margin: 0 10px;
    padding: 10px;
    width: 180px;
    height: 70px;
    background-color: #efefef;
    text-align: center;
    font-size: 16px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer .affiliatestatblock .stat {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}

/* Popup Window */

body.popupwindow {
    margin: 0;
    padding: 15px;
    background-color: #efefef;
}

body.popupwindow .popupcontainer {
    margin: 15px;
    padding: 15px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
}

/* Tickets */

.whmcscontainer .ticketdetailscontainer {
    margin: 10px 0 20px 0;
    padding: 5px;
    background-color: #E8E8E8;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer .ticketdetailscontainer .detail {
    margin: 5px 0 0 0;
    padding: 5px;
    background-color: #ffffff;
    text-align: center;
    font-weight: normal;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer .ticketreplybox {
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer .ticketmsgs {
    margin: 20px 0;
    padding: 0;
    color: #000;
}
.whmcscontainer .ticketmsgs .adminheader {
    margin: 0;
    padding: 5px 10px;
    background-color: #666;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.whmcscontainer .ticketmsgs .adminmsg {
    margin: 0 10px;
    padding: 10px 15px;
    min-height: 100px;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}
.whmcscontainer .ticketmsgs .clientheader {
    margin: 0;
    padding: 5px 10px;
    background-color: #C0C0C0;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.whmcscontainer .ticketmsgs .clientmsg {
    margin: 0 10px;
    padding: 10px 15px;
    min-height: 100px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}
.whmcscontainer .ticketmsgs .clientmsg:last-child, .whmcscontainer .ticketmsgs .adminmsg:last-child {
    border-bottom: 1px solid #ccc;
}

.whmcscontainer .ticketmsgs .attachments {
    margin: 10px 0 0 0;
    padding: 5px 10px;
    width: 40%;
    background-color: #fff;
    font-size: 0.9em;
    color: #666;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.whmcscontainer table.ticketrating {
  display: table;
  width: auto;
  border: 0;
  border-spacing: 1px; /* 2px ? */
  border-collapse: separate;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  /* XXXldb do we want this if we're border-collapse:collapse ? */
  -moz-box-sizing: border-box;
  text-indent: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.whmcscontainer table.ticketrating td {
  display: table-cell;
  min-width: 16px;
  line-height: 16px;
  vertical-align: inherit;
  text-align: inherit;
  padding: 0;
  border: 0;
}
.whmcscontainer table.ticketrating td.point {
    cursor: pointer;
    cursor: hand;
}
.whmcscontainer table.ticketrating td.star {
    background: url('../../../images/rating_neg.png');
    cursor: pointer;
    cursor: hand;
}

/* Chat Transcripts */

div.chat div.visitor div.name, div.chat div.operator div.name {
    font-weight: bold;
}
div.chat div.visitor div.message, div.chat div.operator div.message {
    padding: 0 25px;
}

/* Security */

div#twofaactivation {
    margin: 50px auto;
    padding: 20px;
    width: 75%;
    min-height: 250px;
    background-color: #fff;
    border: 4px solid #efefef;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

div#twofaactivation .errorbox {
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: #FF4F4F;
    text-shadow: none;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

div#twofaactivation p {
    margin: 15px 0;
}

div.twofabackupcode {
    margin: 15px 0;
}

div.twofabackupcode p {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

/* Order Form Resets */

#whmcsorderfrm p, #whmcsorderfrm dl, #whmcsorderfrm multicol {
  display: block;
  margin: 1em 0;
}

#whmcsorderfrm label, #whmcsorderfrm label input, #whmcsorderfrm label textarea, #whmcsorderfrm label select {
    display: inline;
}

#whmcsorderfrm div.loading {
    display: none;
}

#whmcsorderfrm dd {
  display: block;
  -moz-margin-start: 40px;
}

#whmcsorderfrm label {
    padding: 0;
    font-size: 1em;
    line-height: 14px;
    width: auto;
    text-align: left;
    float: none;
}

#whmcsorderfrm input {
    width: auto;
}
#whmcsorderfrm input[type="image"] {
    height: auto;
    border: 0;
    -webkit-transaction: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#whmcsorderfrm input[type="checkbox"], #whmcsorderfrm input[type="radio"] {
    margin: 0 5px;
    padding: 0;
}

#whmcsorderfrm blockquote {
  display: block;
  margin: 1em 40px;
}

#whmcsorderfrm center {
  display: block;
  text-align: -moz-center;
}

#whmcsorderfrm blockquote[type=cite] {
  display: block;
  margin: 1em 0px;
  -moz-padding-start: 1em;
  -moz-border-start: solid;
  border-color: blue;
  border-width: thin;
}

#whmcsorderfrm span[_moz_quote=true] {
  color: blue;
}

#whmcsorderfrm pre[_moz_quote=true] {
  color: blue;
}

#whmcsorderfrm h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
}

#whmcsorderfrm h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: .83em 0;
}

#whmcsorderfrm h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

#whmcsorderfrm h4 {
  display: block;
  font-weight: bold;
  margin: 1.33em 0;
}

#whmcsorderfrm h5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

#whmcsorderfrm h6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

#whmcsorderfrm xmp, #whmcsorderfrm pre, #whmcsorderfrm plaintext {
  display: block;
  font-family: -moz-fixed;
  white-space: pre;
  margin: 1em 0;
}

/* buttons */

#whmcsorderfrm input[type="button"], #whmcsorderfrm input[type="reset"], #whmcsorderfrm input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

/* tables */

#whmcsorderfrm table {
  display: table;
  border: 0;
  border-spacing: 1px; /* 2px ? */
  border-collapse: separate;
  margin-top: 0;
  margin-bottom: 0;
  /* XXXldb do we want this if we're border-collapse:collapse ? */
  -moz-box-sizing: border-box;
  text-indent: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

#whmcsorderfrm table tr, #whmcsorderfrm table th, #whmcsorderfrm table td {
    border: 0;
}

#whmcsorderfrm table tbody tr:first-child td:first-child, #whmcsorderfrm table tbody tr:first-child td:last-child,
#whmcsorderfrm table tbody tr:last-child td:first-child, #whmcsorderfrm table tbody tr:last-child td:last-child {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

#whmcsorderfrm table[align="left"] {
  float: left;
}

#whmcsorderfrm table[align="right"] {
  float: right;
  text-align: start;
}

#whmcsorderfrm table[rules]:not([rules="none"]) {
  border-collapse: collapse;
}

/* caption inherits from table not table-outer */
#whmcsorderfrm caption {
  display: table-caption;
  text-align: center;
  -moz-box-sizing: border-box;
}

#whmcsorderfrm table[align="center"] > caption {
  margin-left: auto;
  margin-right: auto;
}

#whmcsorderfrm table[align="center"] > caption[align="left"] {
  margin-right: 0;
}

#whmcsorderfrm table[align="center"] > caption[align="right"] {
  margin-left: 0;
}

#whmcsorderfrm tr {
  display: table-row;
  vertical-align: inherit;
}

#whmcsorderfrm col {
  display: table-column;
}

#whmcsorderfrm colgroup {
  display: table-column-group;
}

#whmcsorderfrm tbody {
  display: table-row-group;
  vertical-align: middle;
}

#whmcsorderfrm thead {
  display: table-header-group;
  vertical-align: middle;
}

#whmcsorderfrm tfoot {
  display: table-footer-group;
  vertical-align: middle;
}

/* for XHTML tables without tbody */
#whmcsorderfrm table > tr {
  vertical-align: middle;
}

#whmcsorderfrm td {
  display: table-cell;
  vertical-align: inherit;
  text-align: inherit;
  padding: 1px;
}

#whmcsorderfrm th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  padding: 1px;
}

#whmcsorderfrm tr > form:-moz-is-html, #whmcsorderfrm tbody > form:-moz-is-html,
#whmcsorderfrm thead > form:-moz-is-html, #whmcsorderfrm tfoot > form:-moz-is-html,
#whmcsorderfrm table > form:-moz-is-html {
  /* Important: don't show these forms in HTML */
  display: none !important;
}

/* inlines */

#whmcsorderfrm q:before {
  content: open-quote;
}

#whmcsorderfrm q:after {
  content: close-quote;
}

#whmcsorderfrm b, #whmcsorderfrm strong {
  font-weight: bolder;
}

#whmcsorderfrm i, #whmcsorderfrm cite, #whmcsorderfrm em, #whmcsorderfrm var, #whmcsorderfrm dfn {
  font-style: italic;
}

#whmcsorderfrm u, #whmcsorderfrm ins {
  text-decoration: underline;
}

#whmcsorderfrm s, #whmcsorderfrm strike, #whmcsorderfrm del {
  text-decoration: line-through;
}

#whmcsorderfrm sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

#whmcsorderfrm sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

#whmcsorderfrm nobr {
  white-space: nowrap;
}

/* lists */

#whmcsorderfrm ul, #whmcsorderfrm menu, #whmcsorderfrm dir {
  display: block;
  list-style-type: disc;
  margin: 1em 0;
  -moz-padding-start: 40px;
}

#whmcsorderfrm ol {
  display: block;
  list-style-type: decimal;
  margin: 1em 0;
  -moz-padding-start: 40px;
}

#whmcsorderfrm li {
  display: list-item;
}

/* leafs */

#whmcsorderfrm hr {
  display: block;
  height: 2px;
  border: 1px inset;
  margin: 0.5em auto 0.5em auto;
  color: gray;
  -moz-float-edge: margin-box;
  -moz-box-sizing: border-box;
}

#whmcsorderfrm hr[size="1"] {
  border-style: solid none none none;
}

/* hidden elements */
#whmcsorderfrm area, #whmcsorderfrm base, #whmcsorderfrm basefont, #whmcsorderfrm head, #whmcsorderfrm meta, #whmcsorderfrm script, #whmcsorderfrm style, #whmcsorderfrm title,
#whmcsorderfrm noembed, #whmcsorderfrm param {
   display: none;
}

:focus {
  -moz-outline-style: none;
}
/* You Will See This: */

:-moz-any-link:focus {
  outline: 1px dotted invert;
}

/* Change It To This: */

:-moz-any-link:focus {
  outline: none;
}

.logo-wrapper {
    width: 500px;
    height: 120px;
    margin: 0 auto 0 auto;
}

.btn-style-1 {
  border-radius: 0;
  background-color: #928453;
  border-color: #8C7353;
  color: white;   
}

.inline-error {
  color: #808285;
  font-size: 13px;
  font-style: italic;
}

.border-error {
  border-color:#cfaa65;
}
