ul, ol {
    list-style: outside none none;
}

.block, .payment-block {
    /*border: 1px solid #a71c20;*/
    border-radius: 5px;
    margin: 0 0 8px;
    padding: 0 10px 8px;
    background-color: #d6d3b8;
}

.booking_details .block_title {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.block_title, .payment-block .block_title {
    background-color: #928453;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    margin: 0 -10px 8px;
    padding: 6px 20px 8px;
}

.booking_details dl {
    margin: 0 0 4px;
    padding: 0 0 4px;
}

.booking_details dl dt {
	font-size: 13px;
    font-weight: bold;
}

.booking_details dl dd {
    font-size: 13px;
    text-align: left;
    color: #808285;
}

.clear {
    clear: both;
}

.booking_label {
	font-size: 13px;
}

.required {
	color: #a71c20;
}

.cancellation_policy {
	padding-left: 0px;
}

.cancellation_policy li {
    font-size: 13px;
    color: #808285;
}

.transfer-method {
	position: relative;
	left: 3px;
	top: -3px;
}

.border-red-300 {
    border-color:#e57373!important;
}

.bg-red-500 {
    background-color:#f44336!important;
}

.color-red-800 {
    color:#c62828!important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}