.site-color {
	background-color: #d6d3b8 !important;
}

.site-maroon {
	background-color: #a71c20 !important;
}

.site-button {
    background-color: #928453;
    border-color: #8c7353;
    border-radius: 0;
    color: white;
}