/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  overflow-x: hidden;
}

body { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-width {
  width: 960px;
}

.center {
  margin: 0 auto 0 auto;
}

.header {
  width: 100%;
  height: 280px;
  -webkit-box-shadow: -2px 9px 13px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 9px 13px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 9px 13px -6px rgba(0,0,0,0.75);
  background: url(../img/header-2.png) repeat-x; 
}

.header-inner {
  padding: 55px 0 0 0;
}

.address {
  padding: 20px 0 20px 0;
}

.address p {
  color: #808285;
  font-size: 12px;
  line-height: 10px;
}

.topotels {
  padding-top: 10px;
}

.main {
  margin: 0 auto 50px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #b1a57a;
  position: relative;
  top: -44px;
  -webkit-box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
}

.main-menu {
  height: 55px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url(../img/menu-bg.png) repeat-x; 
}

.main-image {
  z-index: 10;
  position: relative;
  width: 960px;
  height: 465px;
  background: #fff;  
  margin: 0 auto 0 auto;
}

.site-color {
  color: #808285;
}

.navbar-default, .navbar-collapse {
  border-color: transparent !important;
}

.img-crousel {
  width: 100% !important;
}
.carousel-inner{
  width:100%;
  max-height: 465px !important;
}


.site-nav {
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
}

.site-nav a:hover, .site-nav a:focus {
  color: #d1ae6c;
  background: none !important;
}

.site-nav a.active {
  color: #d1ae6c;
}

.font-12 {
  font-size: 12px;
}

.font-20 {
  font-size: 20px;
}

.image-holder {
  z-index: 10;
  width: 100%;
}

.main-image:before, .main-image:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  box-shadow: -5px 24px 12px rgba(0, 0, 0, 0.7);
  transform: rotate(-4deg);
}

.main-image:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.booking-calendar, .deal-footer {
  margin: 15px 0;
  padding: 20px;
}

.site-maroon {
  color: #a71c20;
}

.cal {
  position: relative;
  top: 30px;
  right: 20px;
}

.form-control, .wysihtml5-sandbox {
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.form-control:focus {
  /*border-color: #a71c20;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
  border-color: transparent;
  box-shadow: none;
}

.filter-option { 
  font-size: 12px; 
}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid #9fa8bc;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  margin: 1px 0 0;
  padding: 10px;
  width: auto !important;
  z-index: 100;
  position: relative;
}

.ui-datepicker .ui-datepicker-calendar td span, .ui-datepicker .ui-datepicker-calendar td a {
  background-color: #f6f7f8;
  border: 0 none;
  border-radius: 1px;
  color: #696c74;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 10px;
  transition: all 0.2s ease-out 0s;
}

.ui-widget-content {
  z-index:100 !important;
}

.label-resume {
  position: relative;
  top: 8px;
  left: 20px;
}

.margin-right-5 {
  margin-right: 5px;
}

.dropdown-menu {
  background-color: #b1a57a;
  opacity: 0.8;
}

.dropdown-menu > li > a:hover, .site-dropdown.dropdown-menu > li > a:focus {
    color: #a71c20 !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: #337ab7;
}

.white-important {
  color: #fff !important;
}

.border-1-white {
  border-bottom: 1px solid #614216;
}

.margin-top-74 {
  margin-top: 74px;
}

.padding-top-20 {
  padding-top: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.non-visible {
  visibility:hidden;
}

.image-overlay {
  background-color: #000;
  opacity: 0.6;
  width: 458px;
  margin: 0 auto 0 auto;
  position: absolute;
  bottom: 180px;
  padding: 20px;
  left: 25%;
  min-height: 100px;
}

.image-overlay p {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}

.around-overlay {
  background-color: #000;
  opacity: 0.6;
  width: 458px;
  margin: 0 auto 0 auto;
  position: absolute;
  bottom: -3px;
  padding: 20px;
  left: 25%;
  min-height: 100px;
  z-index: 1000;
}

.around-overlay p {
  color: #fff;
  size: 12px;
  line-height: 15px;
}

.info-container {
  position: relative;
}

.info-right {
  border-left: 1px solid #fff;
  min-height: 100px;
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*left: 15%;*/
}

#search-room.btn.btn-success {
    background-color: #27ae60;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    border-color: transparent;
    width: 130px;
}

.border-right-white {
  border-right: 1px solid #fff;
}

.search-room-button {
  position: relative;
  top: 5px;
}

.inner-content {
  padding: 40px;
}

.text-contact {
  margin: 0;
  color: #614126; /* 614126 */
  font-size: 14px;
}

.form-contact {
  margin-top: 30px;
}

.btn-style-1 {
  border-radius: 0;
  background-color: #928453;
  border-color: #8C7353;
  color: white;   
}

.btn-style-1:hover {
  color: #fff;
}

.flexslider {
    background: transparent;
    border: none;
    border-radius: 0px;
}

.lSPager {
  margin-top: 21px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.carousel-stage ul li {
  position: relative;
}

.bootstrap-select .dropdown-menu {
  background-color: #fff;
}

.text-right {
  text-align: right;
}

.login {
  position: relative;
  bottom: 68px;
  right: 22px;
}

.auth-link {
  color: #808285;
}

.auth-link:hover {
  color: #808285;
}

.stylish-input-group .input-group-addon{
    background: #fafafa !important; 
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.site-logo {
  background: #cfaa65; 
}

.inline-error {
  color: #808285;
  font-size: 13px;
  font-style: italic;
}

.border-error {
  border-color:#cfaa65;
}

.note {
  font-size: 13px;
  color: #808285;
}

.footer-border {
  border-right: 2px solid #957f48; 
  padding-bottom: 20px;
  height: 80px;
}

.footer-deals {
  position: relative;
  bottom: 0;
}

.footer-left {
  position:relative; 
  top:32px;
}

.footer-right {
  position:relative; 
  top:27px
}

.enquiry_link {
  color: #fff;
}

.enquiry_link:hover {
  color: #fff;
  text-decoration: none;
}

.holder {
  width: 550px;
}

.desc-text {
  color: #614216;
}

.new-site-color {
  color: #614216;
}

.content-desc {
  height: 378px;
  overflow: auto;
  position: relative;
}

.TA_socialButtonBubbles {
  position: relative;
}

.socialWidgetContainer {
  height: 100px;
  left: 25px;
  margin-top: 14px;
  position: absolute;
  top: 50%;
}

.room_name {
  margin-top: 0 !important;
  font-size: 22px;
}

.room_desc {
  font-size: 14px;
}

.room_fac {
  list-style: disc;
  padding-left: 14px;
}

.topotels-wrapper {
  position: relative;
  top: 11px;
  right: 22px;
}

.topotels-wrapper p {
  font-size: 12px;
}

.socmed-footer {
  padding: 20px;
}

.banquet-inquiry {
  margin-top: 20px;
}

.testi {
  margin-top: 80px; 
  /*margin-top: 150px;*/
}

.socmed-icon {
  position: relative;
  left: 20px;
}

.bookingbutton-wrapper {
  margin-top: 20px;
}

.trip-container {
  width: 150px;
  height: 67px;
  position: relative;
  right: 248px;
  /*top: -25px;*/
  float: right;
}

.bookingbutton-home-wrapper {
  width: 250px;
  height: 153px;
  margin: 110px auto 0 auto;
}

.carousel-indicators {
  z-index: inherit;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
