@media (max-width: 991px) {
	.address {
		display: none;
	}

	.mobile-address p {
		margin-top: 10px;
		color: #808285;
	    font-size: 12px;
	    line-height: 10px;
	}

	.main {
		position: inherit;
	}

	#main-nav {
		margin: 0;
	    background-color: #CECBB0;
	}

	.header-inner {
		width: auto !important;
		padding: 20px 0 0 0;
	}

	.logo {
		float: inherit !important;
		text-align: center;
	}

	.logo a img {
		max-width: 90%;
	}

	.site-width {
		width: auto;
	}

	.main-image {
		height: auto;
	}

	.image-holder img {
		width: inherit;
	}

	.holder img {
		width: inherit;
	}

	.content {
		margin: 0 20px 0 20px;
	}

	.connected-carousels {
		display: none;
	}

	.booking-calendar {
		margin-top: 0 !important;
	}

	.cal {
		display: none;
	}

	.submit-contact {
		width: 100%;
	}

	.location-hotel {
		margin-top: 10px;
	}

	.location-hotel iframe{
		width: 100%;
	}

	.testi {
		margin-top: 20px;
	}

	.content-full {
		display: none;
	}

	.content-halft {
		margin-top: 20px;
	}

	.content-desc {
		height: auto;
	}

	.photoset-grid {
		width: auto !important;
	}

	.video-full {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-full iframe,
	.video-full object,
	.video-full embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.mCSB_container ul{
		padding-left: 0;
	}

	.video-navigation {
		margin-top: 10px;
	}

	.trip-container {
  		width: 150px;
  		height: 67px;
  		position: relative;
		right: 115px;
		top: 10px;
	}

	.bookingbutton-home-wrapper {
	    width: 250px;
	    height: 153px;
	    margin: 35px auto 50px auto;
	}

	.carousel-caption {
		line-height: 9px;
	}
}

@media (min-width: 991px) {
	.mobile-address {
		display: none;
	}

	.width-halft {
		display: none;
	}

	.content-halft {
		display: none;
	}
	
	.booking-calendar {
		/*margin-top: 120px;*/
	}

	.input-group-addon {
		display: none;
	}

	.crousel-bootstrap {
		display: none;
	}

	.trip-container {
		right: 252px;
	}
}


@media (max-width: 770px) {
	#main-nav {
		position: relative;
		z-index: 11;
	}

	.trip-container {
		right: 252px;
	}
}

@media (max-width: 690px) {
	.campaign_price {
		width: 100%;
		text-align: left !important;
	}

	.campaign_price p a {
		width: 100%;
	}

	.trip-container {
		right: 252px;
	}

	.topotels-wrapper {
	    right: 40px;
	}
}

@media (min-width: 690px) {
	.campaign_price {
		width: 100%;
		text-align: left !important;
	}

	.campaign_price p a {
		width: 100%;
	}

	.trip-container {
		right: 252px;
	}

	.topotels-wrapper {
	    right: 40px;
	}
}


@media (max-width: 470px) {
	.campaign_title {
		margin-top: 10px;
	}

	.campaign_price {
		padding: 0 !important;
	}

	.trip-container {
		right: 93px;
	}

	.topotels-wrapper {
    	right: 10px;
    }

    .carousel-indicators li {
    	display: none;
    }
}

@media (max-width: 320px) {
	.campaign_title {
		margin-top: 10px;
	}

	.campaign_price {
		padding: 0 !important;
	}

	.trip-container {
		right: 93px;
	}

	.topotels-wrapper {
    	right: 8px;
    }
}