/* Smartphones (portrait and landscape) */
@media (min-device-width : 320px) and (max-device-width : 480px) {
	.trip-container {
  		width: 150px;
  		height: 67px;
  		position: relative;
		right: 115px;
		top: 10px;
	}
}

