article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

ul, ol {
    list-style: outside none none;
}

.campaign {
    margin: 0 0 20px;
}

.campaign .line1, .campaign .line2, .campaign .line3, .campaign .line4 {
    background-color: #d6d3b8;
    /*border-color: #f4b015;*/
}

.campaign [class^="line"] {
    /*border: 1px solid #d5d5d5;*/
    border-radius: 5px;
    padding: 15px 10px 20px;
}

.campaign [class^="type"] {
    color: #fff;
    font-size: 18px;
    left: 0;
    line-height: 17px;
    margin: 0 8px 0 0;
    padding: 5px 15px 5px 10px;
    position: absolute;
    top: 10px;
}

.campaign [class^="type"]::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) #a71c20;
    border-image: none;
    border-style: solid;
    border-width: 13.5px;
    content: " ";
    height: 0;
    left: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 0;
}

.campaign .type1, .campaign .type2, .campaign .type3, .campaign .type4 {
    background: #a71c20 none repeat scroll 0 0;
}

.campaign .type5 {
    background: #ff0000 none repeat scroll 0 0;
}

.campaign .image {
    margin-left: -10px;
    max-width: 186px;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
    overflow: hidden;
    position: relative;
}

.campaign .image img {
    height: auto;
    min-width: 156px;
    max-width: 100%;
}

.campaign .campaign_title {
	float: left;
}

.campaign .campaign_title .room_name {
	margin-top: 0px;
	margin-bottom: 10px;
    color: #a71c20;
}

.campaign .room_name {
    font-size: 18px;
    font-weight: bold;
}

.campaign .campaign_title p {
    font-size: 13px;
    margin-bottom: 0px;
    color: #808285;
}

.campaign .campaign_price {
    float: right;
    padding: 0 8px;
    text-align: right;
}

.clear {
    clear: both;
}

.toggle_box .switch {
    color: #808285;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
}

.toggle_box .switch .icon {
    background-position: 0 0;
    margin: 0 4px 0 0;
}

.icon {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    vertical-align: middle;
    width: 12px;
}

.campaign .campaign_detail .content-title {
    font-size: 13px;
    font-weight: bold;
    margin: 15px 0 10px;
}

.facilities, .cancellation_policy {
	padding-left: 0px;
}

.campaign .facilities li {
    float: left;
    width: 220px;
    font-size: 13px;
    color: #808285;
}

.campaign .cancellation_policy li {
    float: left;
    font-size: 13px;
    color: #808285;
}

.campaign_condition {
	font-size: 13px;
	color: #808285;
}

.publish {
	color: #808285;
}

.campaign .campaign_price .average .currency_symbol {
    color: #a71c20;
}

.campaign .campaign_price .price {
    color: #a71c20;
    font-size: 22px;
    font-weight: bold;
    line-height: 3rem;
}

.average {
	margin-bottom: 0px;
}

.campaign .campaign_price .average .text {
	color: #808285;
    font-size: 14px;
    margin: 0 0 0 4px;
    font-size: 13px;
}

.total {
	color: #808285;
	font-size: 13px;
}