object {
  z-index: 10;
}

.they_say {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 5px;
}

ul.thumbs li {
  list-style: outside none none;
  padding: 5px;
}

a.thumb {
  color: #614216;
  outline: 0;
}

a.thumb span {
    display: table-cell;
    height: 53px;
    vertical-align: middle;
    font-size: 13px;
}

.selected {
  background-color: #d4d0b2;
  padding: 5px;
}