.logo-container {
	margin-top: 10px;
}

.perm_name {
	position: relative;
	left: 7px;
	top: -2px;
}

.panel-left {
	float: left;
}

#room_description, #room_setup, #promo_description {
	height: 150px !important;
}

.datepicker { 
	z-index: 10000 !important;
}

.required {
	font-size: 11px;
	color: #F00;
}

.required-info {
	font-size: 11px;
	font-style: italic;
}

.light-label {
	font-weight: 400;
}

.booking_link {
	text-decoration: underline;
}